<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="current_user_page">
    <div class="mt-3">
        <h1>User information-page</h1>
    </div>
    <div class="border mt-2">
        <div class="m-3">
            <h5>About user</h5>
        </div>
        <div class="border bg-white">
            <div class="container">
                <table class="table table-striped mt-4">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            <p th:text="${currentUser.getId()}">VALUE</p>
                        </th>
                        <td>
                            <p th:text="${currentUser.getUserName()}">VALUE</p>
                        </td>
                        <td>
                            <p th:text="${currentUser.getEmail()}">VALUE</p>
                        </td>
                        <td>
                            <p th:text="${currentUser.getRolesToString()}">VALUE</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>