<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="all_users">
    <div th:switch="${users}">
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">
            <table class="table table-striped mt-4">
                <thead>
                <tr>
                    <th>#</th>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.getRolesToString()}"></td>
                    <td>
                        <a th:href="@{/admin/findOne/(id=${user.id})}"
                           class="btn btn-info eBtn">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/admin/findOne/(id=${user.id})}"
                           class="btn btn-danger dBtn">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>